/* CSS VARIABLES */
:root {
  --primary: #141414;
  --light: #f3f3f3;
  --dark: #686868;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.content {
  max-width: 100rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: left;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-video video {
  min-width: 100%;
  min-height: 100%;
}

.header-content {
  z-index: 2;
}

.header-content p {
  font-size: 1.4rem;
  display: block;
  padding-bottom: 2rem;
  max-width: 60rem;
}

/* --------------------------------------------------- */

.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.carousel-items {
  /* display: flex; */
  width: 400%;
  height: 100%;
  transition: transform 1s;
}
.carousel-items img {
  width: 25%;
  height: 100%;
  object-fit: cover;
}
.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}
.prev-button {
  left: 0;
}
.next-button {
  right: 0;
}

/* --------------------------------------------------- */

/* img {
  max-width: 100%;
}

.responsive {
  margin: 0;
  padding: 0;
} */

/* HEADER */
header {
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "nt mn mn sb . . . ";
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 0px;
  z-index: 3;
}

.netflixLogo {
  grid-area: nt;
  object-fit: cover;
  width: 100px;
  max-height: 100%;

  padding-left: 30px;
  padding-top: 0px;
}

.netflixLogo img {
  height: 35px;
}

#logo {
  color: #e50914;
  margin: 0;
  padding: 0;
}

.main-nav {
  grid-area: mn;
  padding: 0 30px 0 20px;
}

.main-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;
}

.main-nav a:hover {
  color: var(--dark);
}

.sub-nav {
  grid-area: sb;
  padding: 0 40px 0 40px;
}

.sub-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;
}

.sub-nav a:hover {
  color: var(--dark);
}

/* MAIN CONTAINER */
.main-container {
  padding: 50px;
}

.box {
  /* display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, minmax(100px, 1fr)); */
}

/* .box a {
  transition: transform 0.3s;
}

.box a:hover {
  transition: transform 0.3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
} */

.box img {
  border-radius: 4px;
  max-height: 300px;
  max-width: 500px;
}

/* LINKS */

.link {
  padding: 50px;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
  color: var(--dark);
  text-decoration: none;
}

.sub-links a:hover {
  color: var(--dark);
  text-decoration: underline;
}

.logos a {
  padding: 10px;
}

.logo {
  color: var(--dark);
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}

/* MEDIA QUERIES */
/* 
@media (max-width: 900px) {
  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media (max-width: 700px) {
  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .responsive {
    font-size: 15px;
  }

  header {
    margin: 0;
    padding: 20px 0 0 0;
    position: static;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "nt"
      "mn"
      "sb";
    text-align: center;
  }

  .netflixLogo {
    max-width: 100%;
    margin: auto;
    padding-right: 20px;
  }

  .main-nav {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 18px;
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .box a:hover {
    transition: transform 0.3s;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1.2);
  }

  .logos {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 15px;
  }
} */

/* -------------------------------------------------------------------------- */

@mixin flex(
  $dir: row,
  $wrap: nowrap,
  $ai: center,
  $jc: flex-start,
  $ac: center
) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  align-items: $ai;
  justify-content: $jc;
  align-content: $ac;
}
@mixin imagen(
  $url: "",
  $size: cover,
  $posicion: center,
  $repeat: no-repeat,
  $parallax: false
) {
  @if $url != "" {
    background-image: url($url);
  }
  background-size: $size;
  background-position: $posicion;
  background-repeat: $repeat;
  @if $parallax == true {
    background-attachment: fixed;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  overflow-x: hidden;
  color: #fff;
  background-color: #141414;
  margin: 0 auto;
  * {
    font-family: Arial, sans-serif;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  a {
    color: #666;
    text-decoration: none;
  }
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

main {
  @include flex(column, $ai: flex-start, $jc: center);
  min-height: 100vh;
  overflow-x: hidden;
}
section {
  width: 100%;
  transition: ease all 0.5s;
  &.hidden {
    opacity: 0;
    transition: none;
    &:nth-child(odd) {
      transform: translateX(-50%);
    }
    &:nth-child(even) {
      transform: translateX(50%);
    }
  }
}
.container {
  width: 90%;
  padding: 25px 0;
  margin: 0 auto;
}

.header {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 20px;
}
.moviesSection {
  &:not(.top10) {
    filter: blur(8px);
  }
  &.top10 {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 5%;
      height: 100%;
      background: linear-gradient(90deg, transparent, #141414);
    }
    .moviesWrapper {
      .movie {
        margin: 0 10px;
        counter-increment: indexs;
        cursor: pointer;
        &:before {
          content: counter(indexs);
          width: 102px;
          height: 160px;
          line-height: 147px;
          color: #000;
          font-size: 213px;
          font-weight: 900;
          -webkit-text-stroke: 5px #595959;
        }
        .thumb {
          width: 110px;
          height: 160px;
        }
      }
    }
  }
  .moviesWrapper {
    @include flex;
    counter-reset: indexs;
    .movie {
      @include flex;
      margin: 0 2px;
      position: relative;
      .thumb {
        @include imagen;
        width: 200px;
        height: 120px;
        border-radius: 3px;
      }
    }
  }
}

#movieModal {
  position: absolute;
  top: 50%;
  left: 0;
  width: 350px;
  border-radius: 5px;
  background-color: #141414;
  transform: translateY(-50%);
  box-shadow: 0 2px 10px 0 #000;
  z-index: 1000;
  transition: ease all 0.3s;
  &.centered {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.righted {
    left: 100%;
    transform: translate(-100%, -50%);
  }
  &.hidden {
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  .portada {
    @include imagen;
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .info {
    padding: 20px;
    .botones,
    .datos,
    .tags {
      @include flex;
    }
    .botones {
      .boton {
        width: 40px;
        height: 40px;
        padding: 8px;
        border-radius: 50%;
        border: 2px solid #595959;
        background-color: rgba(#fff, 0.05);
        box-sizing: border-box;
        position: relative;
        &:not(.play) {
          &:hover {
            &:before {
              content: attr(data-tooltip);
              position: absolute;
              bottom: 100%;
              left: 50%;
              width: max-content;
              padding: 10px 20px;
              border-radius: 3px;
              color: #000;
              font-size: 14px;
              font-weight: 600;
              background-color: #fff;
              transform: translate(-50%, -18px);
              box-shadow: 0 2px 10px 0 #000;
            }
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              transform: translateY(-18px);
              border-top: 10px solid #fff;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
            }
          }
        }
        &:not(.arrow) {
          margin-right: 10px;
        }
        &.arrow {
          margin-left: auto;
        }
        &.play {
          border-color: #fff;
          background-color: #fff;
          svg {
            path {
              fill: #000;
              stroke-width: 0;
            }
          }
        }
        svg {
          width: 100%;
          height: 100%;
          path {
            fill: none;
            stroke: #fff;
            stroke-width: 2;
            stroke-miterlimit: 10;
          }
        }
      }
    }
    .datos {
      margin: 20px 0;
      font-weight: 600;
      .match {
        color: #46d369;
      }
      .clasificacion {
        margin: 0 10px;
        padding: 4px 8px;
        font-size: 14px;
        border: 1px solid #fff;
      }
    }
    .tags {
      flex-wrap: wrap;
      font-weight: 600;
      .tag {
        margin: 5px 5px 5px 0;
        &:not(:first-child) {
          &:before {
            content: "\2022";
            margin-right: 5px;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .moviesSection {
    &.top10 {
      .moviesWrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
      }
    }
  }
}
